*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto, sans-serif';
}


.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
}

.left {
    background-color: #6366f1;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    gap: 16px;
}

.right {
}

button {
    border: none;
    background: none;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    justify-items: start;
    border-bottom: white 2px solid;
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: 3px 2px 22px 1px rgba(255, 255, 255, 0.6); 
}

.icons-container {
    height: 70%;
    display: grid;
    align-items: center;
    grid-template-rows: repeat(17, minmax(50px, 1fr));
}

.icon {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 20px;
}
.logo {
    font-size: 1.8rem;
    grid-row: span 4;
}

.logo img {
    max-width: 2rem;
    max-height: 2.5rem;
}
.settings {
    grid-row: 12 / 14;
}

.support {
    grid-row: 14 / 15;
}

.privacy {
    grid-row: 15 / 17;
}

img {
    max-width: 2rem;
    max-height: 1.7rem;
    justify-self: end;
}
